<section class="start" *ngIf="showJoin">

  <div class="start-room">
    <input (keydown.enter)="join()" [(ngModel)]="roomName" type="text" placeholder="Room Name" />
    <button (click)="newRoom()">⟳</button>
  </div>
  
  <div>
    <button (click)="join()">join</button>
  </div>

</section>

<section class="room" *ngIf="roomName?.length && showChat" #room>
  <div class="room-chat">
    <!-- <div>Room: {{roomName}}</div> -->
    <app-video-chat #videoChat [room]="roomName">
      <app-controls (fullscreen)="toggleFullscreen()" (leave)="leave()"></app-controls>
    </app-video-chat>
  </div>
  <div class="room-sidebar" *ngIf="uiShowUserlist || uiShowChat">
    <app-userlist *ngIf="uiShowUserlist"></app-userlist>
    <app-text-chat *ngIf="uiShowChat" #textChat [room]="roomName"></app-text-chat>
  </div>
</section>