.peer {
  /* background: #ccc; */
  /* border: 1px solid red; */
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.peer .name {
  color: #666;
  position: absolute;
  padding: .25em;
}

.peer video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}