.peer {
  /* background: #ccc; */
  /* border: 1px solid red; */
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.peer .name {
  color: #666;
  position: absolute;
  padding: .25em;
}

.peer video {
  width: 100%;
}

.peer.fit video {
  object-fit: cover;
  height: 100%;
}

.peer.not-fit video.landscape {
  height: 100%;
  width: auto;
}

.peer.not-fit video.portrait {
  width: 100%;
  height: auto;
}