:host {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  padding: 1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: .25em;
  background: rgba(255,255,255,.1);
  border-radius: .25em;
}

ul li .line {
  padding:  .25em 0;
  display: flex;
  align-items: center;
}

svg {
  fill: #fff;
  height: 16px;
  width: 16px;
  margin: 0 .2em;
}