.on-disabled {
  display: none
}

.disabled .on-disabled {
  display: inherit;
}

.disabled .on-enabled {
  display: none;
}

.leave {
  background-color: darkred;
  box-shadow: 0 -0.1em 0px #440404 inset;
}

button {
  margin-right: .25em;
}

button:last-of-type {
  margin-right: 0;
}

svg {
  fill: #fff;
  width: 10px;
  height: 10px;
}