
<button appToggleSound class="toggle-sound">
  <span class="on-enabled">Mute Audio</span>
  <span class="on-disabled">Unmute Audio</span>
</button>

<button appToggleVideo class="toggle-video">
  <span class="on-enabled">Mute Video</span>
  <span class="on-disabled">Unmute Video</span>
</button>
<button appShareScreen>Share Screen</button>
<button (click)="toggleFullscreen()">fullscreen</button>
<button (click)="toggleVideoSettingsDialog()">Settings</button>
<button (click)="toggleUserlist()">Userlist</button>
<button (click)="toggleChat()">Chat</button>
<button (click)="doLeave()">leave</button>