:host {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

video {
  max-width: 250px;
  display: inline-block;
}

.mirror {
  transform: scale(-1, 1);
}

.video-chat {
  position: relative;
}

.video-chat-self-holder {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 150px;
}

.video-chat-self-holder video {
  height: 100%;
  object-fit: cover;
}

.video-chat-remote.remote-peer-0 + .video-chat-self-holder {
  top: 0;
  left: 0; 
  height: auto;
  width: 100%;
  text-align: center;
}

.video-chat-remote.remote-peer-0 + .video-chat-self-holder video {
  max-width: inherit;
  height: 100%;
  width: 100%;
}

.video-chat-remote.remote-peer-x + .video-chat-self-holder {
  border-top-left-radius: 10px;
  overflow: hidden;
}

.video-chat-remote {
  display: flex;
  flex: 1;
  border-radius: 10px;
  gap: 20px;
  max-height: 100%;
  max-width: 100%;
}

.hide {
  display: none;
}