:host,
.view {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

video {
  max-width: 250px;
  display: inline-block;
}

.mirror {
  transform: scale(-1, 1);
}

.video-chat {
  position: relative;
}

.video-chat-self-holder {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 150px;
}

.video-chat-self-holder video {
  height: 100%;
  object-fit: cover;
}

.conference.remote-peer-0 + .video-chat-self-holder {
  top: 0;
  left: 0; 
  height: auto;
  width: 100%;
  text-align: center;
}

.conference.remote-peer-0 + .video-chat-self-holder video {
  max-width: inherit;
  height: 100%;
  width: 100%;
}

.conference.remote-peer-x + .video-chat-self-holder {
  border-top-left-radius: 10px;
  overflow: hidden;
}

.conference {
  display: flex;
  flex: 1;
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
}

.view-mode-presenting .conference {
  flex-direction: column;
}

.view-mode-presenting .conference .video-chat-spotlight-holder {
  height: 100%;
  width: 100%;
}

.view-mode-presenting .conference .video-chat-spotlight-holder video {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.view-mode-presenting .video-chat-remote-peer-holder {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-height: 150px;
  gap: 10px;
  padding: 5px 0;
}

.view-mode-presenting ::ng-deep app-remote-peer {
  border-radius: 10px;
  max-height: 100%;
}

.view-mode-presenting ::ng-deep app-remote-peer video,
.view-mode-presenting ::ng-deep app-remote-peer .no-video {
  height: 150px;
  width: 270px;
  object-fit: cover;
  border-radius: 10px;
}


.view-mode-grid .conference {
  gap: 20px;
}

.view-mode-grid .video-chat-remote-peer-holder {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.view-mode-grid .conference.remote-peer-1 ::ng-deep app-remote-peer {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
  margin: 0 !important;
}

.view-mode-grid ::ng-deep app-remote-peer {
  position: relative;
  vertical-align: middle;
  align-self: center;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  box-shadow:  0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.1), 0 32px 64px rgba(0, 0, 0, 0.1);
  background: #000;
  animation: show 0.2s ease;
}



.view-mode-grid .remote-peer-1-on-1 ::ng-deep app-remote-peer video,
.view-mode-grid .remote-peer-1-on-1 ::ng-deep app-remote-peer .no-video {
  border-radius: 0;
}


.view-mode-grid ::ng-deep app-remote-peer video,
.view-mode-grid ::ng-deep app-remote-peer .no-video {
  position: absolute;
  right: 0;
  object-fit: cover;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  background-size: cover;
  overflow: hidden;
}

@keyframes show {
  0% {
      opacity: 0;
      transform: scale(0.4) translateY(20px);
  }

  100% {
      opacity: 1;
      transform: scale(1) translateY(0);
  }
}

.hide {
  display: none;
}