
<div class="conference remote-peer-{{pclients.length}}" [class.remote-peer-x]="pclients.length">
  <div class="video-chat-remote-peer-holder view-mode-{{viewMode}}" #holder>
    <ng-container #remotePeerHolder></ng-container>
  </div>
</div>

<div class="video-chat-self-holder" [class.hide]="!localVideoEnabled">
  <video id="localStreamNode" class="mirror" playsinline muted #localStreamNode></video>
</div>
<ng-content></ng-content>
<app-video-chat-settings-dialog></app-video-chat-settings-dialog>